<div *ngIf="character" class="character-container">
  <div class="character-container__card">
      <h2>{{character.name}}</h2>
      <img src="{{character.image}}" alt="{{character.name}}" routerLink="{{character.id}}"/>
      <!-- <h3>character Number: {{character.id}}</h3>
      <h3>Status: {{character.status}}</h3>
      <h3>Gender: {{character.gender}}</h3>
      <p>Location: "{{character.location.name}}"</p> -->
      <button (click)="handleClick()">Seleccionar Favorito</button>
  </div>
</div>