@import "../../../../../styles.scss";

h2{
  color: $crawl;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  margin: 10px;
  text-shadow: 0 0 3px black, 1px 1px 5px $purple;
}

.character-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__card {
        border-radius: 5px;
        margin: 20px;
        height: 350px;
        width: 250px;
        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
            border: solid 2px $purple;

        }

        &:hover{
            cursor: pointer;
          }
    }
}